.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  align-items: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  transition: .2s linear opacity;
  cursor: pointer;
  }

  .feynman__link:hover {
    opacity: .5;
  }

