.feynman {
  position: relative;
  background: #f2f2f2 url(../../images/feynman/feynman.png) no-repeat left bottom/867px 637px;
  min-height: 890px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
