.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
   background: url(../../../images/kaufman/kaufman-triangle.svg) no-repeat center/contain;
  z-index: -1;
}
