
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

/* header styles */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  padding-left: 64px;
  overflow: hidden;
  z-index: 1;
  /* выше установили ограничения для секции */
}

.logo {
  height: 32px;
  width: 228px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
  max-width: 730px;
  display: flex;
  align-items: center;
  position: relative;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  color: #000;
  max-width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  left: 64px;
}

.header__link {
  margin-top: 0;
  margin-bottom: 0;
  color: #2f80ed;
  text-decoration: none;
  }

 .header__main-illustration {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 765px;
    height: 608px;
    object-fit: cover;
    z-index: -1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
  z-index: -2;
}

/* description styles */

.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph {
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

/* digits styles */

.digits {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  position: relative;
  z-index: 2;
}

.section-subtitle {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  position: relative;
  z-index: 2;
}

.table {
  display: flex;
  width: 1100px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}

/* feynman styles */

.feynman {
  position: relative;
  background-color: #f2f2f2;
  min-height: 890px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-size: 867px 637px;
  background-repeat: no-repeat;
}

.feynman__title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 100px;
  max-width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  color: #000;
  text-align: center;
  z-index: 1;
}

.feynman__subtitle {
  padding-top: 70px;
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #000;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  align-items: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

/* kaufman styles */

.kaufman {
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.section-title_theme_dark {
  color: white;
  margin-bottom: 20px;
}

.section-subtitle_theme_dark {
  color: white;
  margin-top: 0;
}

.table_theme_dark {
  list-style: none;

}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

/* footer styles */

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  display: flex;
  padding-top: 60px;
  padding-bottom: 40px;
  color: white;
  box-sizing: border-box;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.footer__column {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_copyright {
  position: relative;
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  padding: 0;
  margin: 20px 0 16px;
  list-style: none;
}

.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
